@import "../../../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";
.diver{
  height: 100%; flex-direction: row; 
  box-sizing: border-box; 
  display: flex; 
  max-height: 100%; 
  place-content: stretch space-around;
  align-items: stretch;

/*  height: 100%; flex-direction: row;
  box-sizing: border-box;
  display: flex;
  max-height: 100%; 
  align-content: stretch center; 
  align-items: stretch;
  margin: 15px;*/
}

.demo-card-square.mdl-card {
  width: 180px;
  height: 150px;
  float: left;
  margin: 1rem;
  position: relative;
}

mat-form-field {
  width: 450px;
}

.demo-card-square.mdl-card:hover {
  box-shadow: 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12), 0 5px 5px -3px rgba(0, 0, 0, .2);
}

.demo-card-square > .mdl-card__title {
  color: #fff;
  background: #3f51b5;
}

.demo-card-square > .mdl-card__title_closed {
  color: #fff;
  background: gray;
}


body {

  padding: 20px;
  background: #fafafa;
  position: relative;
}

/*title design*/

.titlecard{
background: #3f51b5;
text-decoration-color:white; 
}
h1{color: honeydew;}
